main{
    padding: 10px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#red:hover{
    background-color: rgb(236, 13, 13);
    color: white;
    font-size: 34px;
}
#green:hover{
    background-color: rgb(17, 197, 17);
    color: white;
    font-size: 34px;
}
#blue:hover{
    background-color: rgb(56, 56, 252);
    color: white;
    font-size: 34px;
}