/* ----------------------------------------
-------------------Geral-------------------
---------------------------------------- */
body{
    font-family: 'Baloo Da 2', cursive;
}
main{
    width: 80%;
    margin: 0 auto;
}
/* ----------------------------------------
-----------------Cabeçalho-----------------
---------------------------------------- */
header{
    background: lightgrey;
    padding: 5px 70px;
    border-style: none none solid none;
}
.menu a{
    vertical-align: middle;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #000000;
    background-color: grey;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    border: 2px solid rgb(45, 45, 45);
    border-radius: 7px;
}
.menu a:hover{
    color: rgb(100, 70, 45);
    text-decoration: underline;
    border: 4px solid rgb(100, 70, 45);
}
.logo{
    height: "100px";
    transition: 0.50s all;
    cursor: pointer;
}
.logo:hover{
    transform: scale(1.2) rotate(720deg);
}
/* ----------------------------------------
------------------Index--------------------
---------------------------------------- */
.gradiente{
    background: linear-gradient(white 35%, darkorange, darkorange);
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    clear: left;
    font-family: 'Lobster', cursive;
}
.principal{
    padding: 20px 0;
}
.texto-principal{
    padding: 0 50px;
}
.principal p{
    text-align: center;
    margin-bottom: 1em;
}
.missao{
    font-size: 20px;
    text-shadow: 1px 1px 2px #000000;
}
em strong{
    color: red;
}
.mapa{
    padding: 3em 0;
}
.mapa p{
    margin: 2em;
    text-align: center;
}
.beneficios{
    padding: 20px;
}
.beneficios ul{
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    margin: 20px 0 20px 20px;
}
.itens{
    font-size: 22px;
    font-style: italic;
    padding-bottom: 25px;
}
.imagembeneficios{
    margin-left: 22%;
    width: 50%;
    border-radius: 35px;
    opacity: 0.85;
    box-shadow: 10px 10px 10px black;
    transition: 150ms;
}
.imagembeneficios:hover{
    margin-left: 0%;
    transform: scale(1.5);
    border-radius: 10px;
    opacity: 1;
    box-shadow: 0 0 0 1500px rgba(0,0,0, 0.8);
}
.video{
    width: 560px;
    height: 315px;
    margin: 2em auto;
    padding-top: 50px;
}
/* ----------------------------------------
-----------------Produtos------------------
---------------------------------------- */
.produtos{
    padding: 50px 0;
}
.opcao{
    text-align: center;
    margin: 0 auto;
    padding: 30px 20px;
    border: 2px solid black;
    border-radius: 20px;
}
.produto-titulo{
    font-size: 30px;
    font-weight: bold;
}
.produtos img{
    width:50%;
}
.produto-descricao{
    font-size: 18px;
}
.produto-preco{
    font-size: 22px;
    font-weight: bold;
}
.opcao:hover{
    border-color: dodgerblue;
}
.opcao:hover h2{
    font-size: 34px;
    color: dodgerblue;
}
.opcao:active{
    border-color: forestgreen;
}
.opcao:active h2{
    color: forestgreen;
}
/* ----------------------------------------
------------------Contato------------------
---------------------------------------- */
form{
    margin: 40px 0;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.input-padrao{
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    transition: 0.35s all;
    cursor: pointer;
}
.enviar:hover{
    background: darkorange;
    transform: scale(1.03);
}
table{
    margin: 20px 0 40px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid#000000;
    padding: 8px 15px;
}
/* ----------------------------------------
------------------Rodapé-------------------
---------------------------------------- */
footer{
    text-align: center;
    background: url(../assets/bg.jpg);
    padding: 40px 0;
}
.copyright{
    color: white;
    font-size: 13px;
    margin-top: 15px;
}
/* ----------------------------------------
--------------Responsividade---------------
---------------------------------------- */
@media screen and (max-width: 480px){
    .caixa, .principal, .conteudo-beneficios, .mapa, .video{
        width: auto;
    }
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    /* .beneficios li, .beneficios ul, .itens,*/ .menu ul, .beneficios, .imagembeneficios{
        width: 100%;
        margin: auto;
        padding: auto;
    }
    .menu ul{
        text-align: center;    
    }
}